<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall">
    <img src="Logo.png" alt="logo">

    <nav class="navbar">

      <div class="user-section">

        <img class="user-avatar" src="default-avatar.png" alt="user">

        <button routerLink="/login" class="button type1">
          <span class="btn-txt">Login</span>
        </button>
      </div>

      <div class="home">
        <a routerLink="">Home</a>
        <a routerLink="/about">About</a>
      </div>
      <div class="game-section">
        <a routerLink="/pyramid-game"><span>Pyramid</span> Game</a>
        <a routerLink="/night-as-come"><span>Night</span> Has <span>Come</span></a>
      </div>

    </nav>
  </mat-sidenav>


  <mat-sidenav-content>

    @if (isScreenSmall) {
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="custom-menu-button">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    }

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>


</mat-sidenav-container>