.content{
    padding: 30px;
    height: 100vh;
  background-color: black;

  font-family: "Protest Revolution", serif; 
  font-weight: 400; 
  font-style: normal; 
  color: white;
}
h2{
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px black;
}
span{
    color:rgb(172, 22, 22); 
}

