.content{
    position:relative;
    overflow:0;
    height: 100vh;
    background-color: black;

    font-family: "Protest Revolution", serif; 
    font-weight: 400; 
    ont-style: normal; 
    color: white;
    padding-top:20px
}

.content h2{
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px black;
}
.content span{
    color:rgb(172, 22, 22); 
}
.description{
    font-size: 1.3rem;
    text-align: justify;
}

.button{
    width: 140px;
    height: 50px;
    display: flex; 
    align-items:center;
    justify-content: flex-start; 
    gap:10px;
    padding:0px 15px;
    background-color: rgb(172, 22, 22);
    border-radius: 10px;
    border: none;
    color: white;
    position: fixed; 
    cursor: pointer;
    font-weight: 900;
    font-family: "Protest Revolution", serif; 
    transition-duration: .2s;
    transform: translateX(-50%);
    bottom:20px;
    left: calc(125px + 50%);
}
@media (max-width: 768px){
  .button{
    left:50%;
  }
}
.game path {
    color: white;
  }
  
  .button .arrow {
    position: absolute;
    right: 0;
    padding: 0px 5px;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover,
  .button:focus {
    background-color: black;
    transition-duration: .2s;
  }
  
  .button:hover .arrow {
    animation: slide-right .6s ease-out both;
  }
  /* arrow animation */
  @keyframes slide-right {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .button:active {
    transform: translate(1px , 1px);
    transition-duration: .2s;
  }
