:host{
  display:block;
  min-height: 100vh;
  background-color: black;

  font-family: "Protest Revolution", serif; 
  font-weight: 400; 
  font-style: normal; 
  color: white;
  position: relative;
}
.content1{
  padding-top:20px;
}
h2{
    text-align: center;
    margin: 0;
    text-shadow: 3px 3px #222;
}
span{
    color:rgb(172, 22, 22); 
}
.botton{
  width: 140px;
  height: 50px;
  display: flex; 
  align-items:center;
  justify-content: flex-start; 
  gap:10px;
  padding:0px 15px;
  background-color: rgb(172, 22, 22);
  border-radius: 10px;
  border: none;
  color: white;
  position: fixed; 
  cursor: pointer;
  font-weight: 900;
  font-family: "Protest Revolution", serif; 
  transition-duration: .2s;
  transform: translateX(-50%);
  bottom:20px;
  left: calc(125px + 50%);
}
@media (max-width: 768px){
  .botton{
    left:50%;
  }
}

.game path {
  color: white;
}

.botton .arrow {
  position: absolute;
  right: 0;
  padding: 0px 5px;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botton:hover,
.botton:focus {
  background-color: black;
  transition-duration: .2s;
}

.botton:hover .arrow {
  animation: slide-right .6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.botton:active {
  transform: translate(1px , 1px);
  transition-duration: .2s;
}

.content2{
  padding-top:20px;
  display: block;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container{
  text-align: center;
  
}
.container img{
  width:270px;
  height: 170px;
}

.input-pass input{
  background-color: transparent;
  border: none; 
  border-bottom: 2px solid white; 
  outline: none; 
  color: white;
  margin: 10px;
  width: 50px; 
  text-align: center;
  font-size: 2rem; 
}

.content3{
  padding-top:20px;
  display: block;
  justify-content: center;
  align-items: center;
}
.content3 h4{
  margin-top:0;
  font-size:1.5;
}
.center{
  display:flex;
  align-items:center;
  justify-content:center;
}
.voting{
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre filas */
  max-width: 500px; /* Opcional: ajustar ancho del contenedor */
}
.row{
  display: flex;
  align-items: center; /* Centra verticalmente h1 e input */
}
.voting h1{
  font-size: 1.1rem;
  border: 3px solid white;
  padding:10px 18px;
  border-radius: 10px;
}
.voting input{
  background-color: transparent;
  color: white;
  border:none;
  border-bottom: 2px solid white;
  height: 30px;
  margin-left:10px;
  box-sizing: border-box;
  width:150px;
  font-size:1.3rem;
}
.next{
  width: 270px;
  height: 50px;
  border-radius: 10px;
  cursor:pointer;
  border:none;
  background-color: #222;
  color:#fff;
  font-family:"Protest Revolution", serif; 
  position:absolute;
  display:flex;
  justify-content: center;
  align-items:center;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 35px;
  
}
.next:hover{
  background-color:#757575;
}
@media(max-width:768px){
  .next{
    left:50%;
  }
}
.content4{
  padding-top:20px;
  display: block;
  justify-content: center;
  align-items: center;
}

.pyramid-loader {
  position: relative;
  width: 300px;
  height: 150px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 70px;
  height: 70px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;

  clip-path: polygon(0% 5%, 50% 0%, 100% 5%, 100% 100%, 0% 100%);
  border-left: 3px solid white; /* Lado izquierdo transparente */
  border-right: 3px solid white; /* Lado derecho transparente */
  border-bottom: 3px solid white; /* Lado inferior blanco */
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
 
}

.goBack {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px; 
  width: 140px;
  height: 50px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: #222;
  cursor: pointer;
  border: 0;
  border-radius:10px;
}


.button-box {
  display: flex;
  align-items:center;
  justify-content: center;
}

.button-elem {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  fill: #f0eeef;
}
.goBack:hover{
  background-color:#757575
}