.content{
    padding-top:30px;
    background-color:black;
    min-height: 100vh;
    font-family: "Protest Revolution", serif; 
    font-weight: 400; 
    font-style: normal; 
    color:white;
}
#title{ 
    text-align: center; 
    margin: 0; 
    text-shadow: 3px 3px black; 
} 
span{ 
    color:rgb(172, 22, 22); 
}
